@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?n2s93w');
  src:  url('/fonts/icomoon.eot?n2s93w#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?n2s93w') format('truetype'),
    url('/fonts/icomoon.woff?n2s93w') format('woff'),
    url('/fonts/icomoon.svg?n2s93w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* <-- HEDER --> */
.container{
  padding: 0;
}

.header{
  display: block;
  height: auto;
  text-align: center;
  border-bottom: 1.5px solid #EBAD1C;
  z-index: 20;
  width: 100vw;
  height: 50px;
  background-color: white;
  position: fixed;
  margin-top: 0;
  top: 0em;
}
.header ol{
  display: block;
}
.container--menu{
  height: 50px;
}
.menu{
  left: -100vw;
  display: flex;
}

.head{
  text-align: center;
  margin: 0;
  /* margin-top: 11px; */
}
.head img{
  margin-top:10px;
}
.burguer-button img{
  width: 30px;
  height: 30px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 40;
  left: 15px;
  top: 10px;
  font-size: 1.2em;
}
/* <-- end header --> */

/* <-- Burger Button --> */
.menu{
  position: fixed;
  left: -100vw;
  background-color: #EBAD1C;
  z-index: 30;
  width: 100vw;
  bottom: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  top: 0;
}
.menu.is-active{
  left: 0;
}
.menu ol{
  list-style: none;
  padding: 0;
}
.menu li{
  padding-bottom: .5em;
}
.menu a{
  text-decoration: none;
  color: black;
}
/* <-- end burguer button --> */
/* <-- head --> */
.hero{
  margin-top: 50px;
  padding: 2em 1em .5em 1em;
}
.hero-con{
  flex: 1;
  margin: 0  auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  /* padding: 5em 1em;*/
}
.content{
  position: relative;
  z-index: 10;
  justify-content: center;
  text-align: center;
  /* display: grid; */
}
.content img{
  padding-bottom: .5em;
  display: flex;
  margin:auto;
}
.hero h1 {
  margin: 0;
  padding-bottom: .5em;
}
.hero-image{
  position: absolute;
  top:0;
  left: 0em;
  right: 0;
  bottom: 0em;
  width: 100%;
  filter: opacity(75%) blur(2.5px);
  border-bottom: 3px solid #EBAD1C;
  max-height: 300px;
}
.content button{
  background-color: white;
  border: 2px solid #EBAD1C;
  border-radius: 5px;
}
  .content button a{
  text-decoration: none;
  color: black;
  }
  .content button:hover{
    background: #EBAD1C;
  }
  .content button a:hover{
    color: white;
  }

/* <-- End Head --> */
/* <-- Nosotros --> */
.nosotros-cont{
  text-align: center;
  margin-top: 75px;
}
.nosotros-cont h1{
  border-bottom: 2px solid #EBAD1C;
  width: fit-content;
  margin: auto;
  /* padding-top: 1.5em; */
}
.nosotros-cont p{
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.nosotros-img{
  margin:0
}
.nosotros p{
  padding: 0 1em;
}
/* <-- End Nosotros --> */
/* <-- Servicio y beneficios --> */
.servicio-cont{
  text-align: center;
}
.parrafo-servicio{
  padding: 1em;
}
.servicioh1{
  width: fit-content;
  margin: 0 auto;
  margin-top: 2em;
  border-bottom: 2px solid #EBAD1C;
}
.parrafo-servicio{
  margin: 1.5em 0;
}
.servicios_beneficios{
  background-color: #4d4d4d;
  text-align: center;
}
.beneficio-p{
  padding: 0 1em;
}
.servicios_beneficios p h2{
  color: white;
}
.beneficio {
  color:white;
  margin: 0;
  padding: 0 1em;
}
.beneficio p{
  padding: 0 1em;
}
.titulo {
  padding-top: 20px;
}
.ultimo{
  padding-bottom: 1.5em;
}
/* <-- end servicio y beneficio --> */
/* <-- Portafolio --> */
.portafolio-cont h1{
  width: fit-content;
  margin: auto;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid #EBAD1C;
}

.slider {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.ul-slider {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
  width: 100%;
  height: 180px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* .portafolio figure{
  margin: 0;
  width: 100vw;
}
.portafolio figure img{
  width: 100%;
  padding-bottom: 1.5em;
} */
/* <-- end portafolio --> */
/* <-- Contacto --> */
.contacto{
  background-color: #4d4d4d;
}
.contacto h1{
  color: white;
  padding-top: 1.5em;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2px solid #EBAD1C;
}
.contacto figure{
  display: flex;
  margin: 0;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1em;
  align-items: center;
}
.email{
  height:40px;
}
.email p{
  color: white;
}
  .email a{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid white;
  }
    .email a:hover{
      border-bottom: 2px solid white;
    }
.phone{
  height: 40px;
}
.phone a{
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid white;
}
  .phone a:hover{
    border-bottom: 2px solid white;
  }
.phone p{
  color: white;
  padding-left: .5em;
  margin: 0;
}

.p-phone {
  margin: 0;
  padding-left: .5em;
}
.contacto h2{
  text-align: center;
}
.social-media{
  font-size: 2em;
  text-align: center;
  padding-top: .5em;
  padding-bottom: 1em;
  /* padding-top: .5em; */
}
.social-media a{
  margin-left: .5em;
  color: white;
  text-decoration: none;
  height: 1.3em;
}
.social-media a img{
  height: 1.3em;
}
.follow{
  color: #ffffff;
}
/* <-- end contacto --> */
/* <-- footer --> */
.footer-cont{
  display: flex;
  justify-content: space-between;
  padding: 0 .5em;
  height: 30px;
}

.copiright{
  display: flex;
  align-items: center;
  font-size: 10px;
}
.p-copi{
  margin: 0rem;
  padding-left: .3em;
}
.design{
  align-items: center;
  display: flex;
  font-size: 10px;
  padding-right: 10px;
  font-weight: 600;
}
.design p{
  margin: 0;
  color: black;
}
.design a{
  color: black;
  text-decoration: underline;
}
@media (min-width: 768px){
  p{
    font-size: 1.2em;
  }
  h1{
    font-size: 1.7em;
  }

  .portafolio-cont{
    padding-bottom: 30px;
  }
  .nosotros{
    padding-bottom: 30px;
  }
  .container{
    max-width: 768px;
    margin: auto;
  }
  .container--menu{
    max-width: 768px;
    margin: auto;
  }
  .hero-con{
    border-bottom: 0px solid;
  }
  header{
    position: relative;
  }
  .burguer-button{
    display: none;
  }
  header{
    height: 40px;
  }
  .container--menu{
    width: 100%;
    height: 40px;
    justify-content: space-between;
    display: flex;
  }
  .head img{
    margin-left: 20px;
  }
  .menu{
    position: inherit;
    background-color: white;
    width: initial;
    left: initial;
  }
  .menu ol{
    display: flex;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 0;
  }
  .menu li{
    padding-right: 10px;
  }
  .hero{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #EBAD1C;
    padding: 0px 2px;
  }
  .hero-con{
    padding:0 ;
    align-items: center;
  }
  .content{
    width: 50%;
    padding: 0;
  }
  .hero-image{
    position: relative;
    height: 300px;
    object-fit: cover;
    width: 70%;
    border-bottom: none;
    filter: none;
    filter: opacity(95%) blur(0px);
    clip-path: polygon(34% 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .servicios_beneficios{
    text-align: center;
  }
  .beneficio-cont{
    background: #4d4d4d;
    padding-bottom: 2em;
  }
  .design p{
    font-size: 1.3em;
  }
  .menu a:hover{
    border-bottom: 2px solid #EBAD1C;
  }
}

@media (min-width: 500px){
  .slider{
    width: 500px;
    margin: auto;
  }
  .slider img{
    height: 350px;
    width: 500px;
  }
  .content button{
    height: 2.5em;
  }
    .content button a{
      font-size: 1.3em;
    }
}
@media (min-width: 425px){
  .nosotros-cont{
    /* padding-top: 3em; */
    margin-top: 80px;
  }
  .hero h1{
    /* padding: 4em 1em .5em 1em; */
    padding-top: 25px;
  }
  .tittle{
    padding-top: 30px;
  }
}
@media (min-width: 375px){
  .nosotros-cont{
    margin-top: 80px;
  }
  .content img{
    padding-bottom: 2em;
  }
  .content button{
    height: 2em;
  }
}
@media (min-width: 340px){
  .hero{
    /* padding-bottom: 2em; */
  }
}