@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?n2s93w');
  src:  url('/fonts/icomoon.eot?n2s93w#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?n2s93w') format('truetype'),
    url('/fonts/icomoon.woff?n2s93w') format('woff'),
    url('/fonts/icomoon.svg?n2s93w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* <-- HEDER --> */
.container{
  padding: 0 1em;
}

.header{
  display: block;
  height: auto;
  text-align: center;
  border-bottom: 1.5px solid #EBAD1C;
  z-index: 20;
  width: 100vw;
  height: 50px;
  background-color: white;
  position: fixed;
  margin-top: 0;
  top: 0em;
}
.header ol{
  display: block;
}
.container--menu{
  height: 50px;
}
.menu{
  left: -100vw;
  display: flex;
}

.head{
  text-align: center;
  margin: 0;
  /* margin-top: 11px; */
}
.head img{
  margin-top:10px;
}
.burguer-button{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 40;
  left: 5px;
  top: 7px;
  font-size: 1.2em;
}
/* <-- end header --> */

/* <-- Burger Button --> */
.menu{
  position: fixed;
  left: -100vw;
  background-color: #EBAD1C;
  z-index: 30;
  width: 100vw;
  bottom: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.menu ol{
  list-style: none;
}
.menu a{
  text-decoration: none;
}
/* <-- end burguer button --> */
/* <-- head --> */
.hero{
  margin-top: 50px;
  padding: 2em 1em .5em 1em;
}
.container--hero{
  flex: 1;
  margin: 0  auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  /* padding: 5em 1em;*/
}
.container-content{
  position: relative;
  z-index: 10;
  justify-content: center;
  text-align: center;
  /* display: grid; */
}
.container-content img{
  padding-bottom: .5em;
  display: flex;
  margin:auto;
}
.hero h1 {
  margin: 0;
  padding-bottom: .5em;
}
.hero-image{
  position: absolute;
  top:0;
  left: 0em;
  right: 0;
  bottom: 0em;
  width: 100%;
  filter: opacity(85%) blur(1px);
  border-bottom: 3px solid #EBAD1C;
}
/* <-- End Head --> */
/* <-- Nosotros --> */
.container-nosotros{
  text-align: center;
  margin-top: 40px;
}
.container-nosotros h1{
  border-bottom: 2px solid #EBAD1C;
  width: fit-content;
  margin: auto;
  /* padding-top: 1.5em; */
}
.container-nosotros p{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.nosotros-img{
  margin:0
}
.nosotros p{
  padding: 0 1em;
}
/* <-- End Nosotros --> */
/* <-- Servicio y beneficios --> */
.container-servicio{
  text-align: center;
}
.parrafo-servicio{
  padding: 1em;
}
.servicioh1{
  width: fit-content;
  margin: 0 auto;
  margin-top: 2em;
  border-bottom: 2px solid #EBAD1C;
}
.parrafo-servicio{
  margin: 1.5em 0;
}
.servicios_beneficios{
  background-color: #4d4d4d;
}
.beneficio-p{
  padding: 0 1em;
}
.servicios_beneficios p h2{
  color: white;
}
.beneficio {
  color:white;
  margin: 0;
  padding: 0 1em;
}
.beneficio p{
  padding: 0 1em;
}
.titulo {
  padding-top: 20px;
}
.ultimo{
  padding-bottom: 1.5em;
}
/* <-- end servicio y beneficio --> */
/* <-- Portafolio --> */
.container-portafolio h1{
  width: fit-content;
  margin: auto;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid #EBAD1C;
}
.portafolio figure{
  margin: 0;
  width: 100vw;
}
.portafolio figure img{
  width: 100%;
  padding-bottom: 1.5em;
}
/* <-- end portafolio --> */
/* <-- Contacto --> */
.contacto{
  background-color: #4d4d4d;
}
.contacto h1{
  color: white;
  padding-top: 1.5em;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2px solid #EBAD1C;
}
.contacto figure{
  display: flex;
  margin: 0;
  justify-content: center;
  padding-top: 1.5em;
}
.email p{
  color: white;
}
.phone{
  justify-content: center;
  display: flex;
  align-items: center;
}
.phone p{
  color: white;
  padding-left: .5em;
}
.p-phone {
  margin: 0;
  padding-left: .5em;
}
.contacto h2{
  text-align: center;
}
.social-media{
  font-size: 2em;
  text-align: center;
  padding-top: .5em;
  padding-bottom: 1em;
  /* padding-top: .5em; */
}
.social-media a{
  padding-left: .5em;
  color: white;
  text-decoration: none;
}
.follow{
  color: #ffffff;
}
/* <-- end contacto --> */
/* <-- footer --> */
.container-footer{
  display: flex;
  justify-content: space-between;
  padding: 0 .5em;
  height: 30pc;
}

.copiright{
  display: flex;
  align-items: center;
  font-size: 10px;
}
.p-copi{
  margin: 0rem;
  padding-left: .3em;
}
.design{
  align-items: center;
  display: flex;
  font-size: 10px;
}
.design p{
  margin: 0;
}
.design a{
  color: black;
  text-decoration: underline;
}